.accordions {
  padding-top: 140px;
  padding-bottom: 115px;
  background: #f8f9fc;

  @include vp-1199 {
    padding-top: 116px;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-top: 78px;
    padding-bottom: 73px;
  }
}

.accordions h2 {
  margin: 0 0 60px;
  color: #102654;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 53px;
    text-align: center;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 36px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.accordions__wrapper {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 40px;

  @include vp-1199 {
    grid-template-columns: 1fr;
    gap: 37px;
  }

  @include vp-767 {
    gap: 30px;
  }
}

.accordions__controls {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 9px;

  @include vp-1199 {
    flex-direction: row;
    justify-content: center;
  }

  @include vp-767 {
    gap: 8px;
  }
}

.accordions__controls button {
  padding: 18px 0;
  background-color: transparent;
  border: 1px solid rgb(16, 38, 84, 0.2);
  color: #102654;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  cursor: pointer;

  @include vp-1199 {
    flex-basis: 162px;
  }

  @include vp-767 {
    flex-basis: 48.62%;
    padding: 13px 0;
    font-size: 16px;
    line-height: 16px;
  }

  &:hover,
  &:focus {
    border: 1px solid #102654;
  }

  &:active {
    color: #ffffff;
    background: $button-buy-gradient-hover;
    border: 1px solid transparent;
  }

  &:disabled {
    color: #c8c9cc;
    background: #ffffff;
    border: 1px solid #c8c9cc;
  }
}

.accordions__controls button.is-active {
  color: #ffffff;
  background: $button-buy-gradient-hover;
  border: transparent;
}

.accordions__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
