.accordion__wrapper {
  max-width: 1160px;
  padding: 120px 0;
  margin: 0 auto;
}

.accordion__wrapper h2 {
  margin: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
}

.accordion__element {
  display: grid;
  grid-template-columns: 260px 1fr;
}

.accordion__button {
  padding: 18px 106px;
  color: #102654;
  background-color: transparent;
  border: 1px solid rgba(16, 38, 84, 0.2);
}
