.advantages {
  background-color: #f8f9fc;
}

.advantages__wrapper {
  max-width: 1040px;
  padding: 130px 0 110px;
  margin: 0 auto;

  @include vp-1199 {
    padding: 105px 0 95px;
  }
}

.advantages__wrapper h2 {
  margin: 0 0 70px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 57px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.advantages__list {
  display: grid;
  grid-template-columns: 1fr 23% 1fr;
  gap: 136px 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    grid-template-columns: 1fr 1fr;
    gap: 45px 26px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}

.advantages__item--primary {
  position: relative;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 30px;
  margin-left: 20px;

  @include vp-1199 {
    margin: 0;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

.advantages__item--primary:nth-child(5n+1),
.advantages__item--primary:nth-child(4n+2) {
  &::before {
    position: absolute;
    content: "";
    bottom: -60px;
    width: 100%;
    height: 2px;
    background-color: rgba(209, 10, 66, 0.2);

    @include vp-1199 {
      display: none;
    }
  }
}

.advantages__number p {
  margin: -20px 0 0 0;
  background: $text-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 71px;
  font-weight: 700;
  line-height: 106.5px;

  @include vp-1199 {
    margin: -15px 0 0;
    font-size: 58px;
    line-height: 87px;
  }
}

.advantages__number span {
  display: block;
  margin: -25px 0 0;
  color: #2e35ac;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  @include vp-1199 {
    margin: -20px 0 0;
  }
}

.advantages__text h3 {
  margin: 0 0 5px 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 33px;

  @include vp-1199 {
    margin: 0;
    font-size: 20px;
    line-height: 30px;
  }
}

.advantages__text p {
  margin: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 22.4px;
}

.advantages__item--secondary {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: center;
  padding: 60px 34px;
  margin: 5px 0 15px 0;
  background-color: #1c3374;
  color: #ffffff;
  text-align: center;

  @include vp-1199 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    width: 65%;
    padding: 30px 135px 35px;
    margin: 0;
  }

  @include vp-767 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding: 50px 74px;
  }
}

.advantages__item--secondary p {
  background: #ffffff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 74px;
  font-weight: 700;
  line-height: 111px;
}

.advantages__item--secondary span {
  margin: -20px 0 30px 0;
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;

  @include vp-1199 {
    margin: -20px 0 15px 0;
    font-size: 22px;
    line-height: 33px;
  }
}

.advantages__item--secondary h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
