.coaches__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 57px 0 100px;
  max-width: 1160px;

  @include vp-1199 {
    padding: 50px 0 100px;
  }

  @include vp-767 {
    padding: 32px 0 70px;
  }
}

.coaches__wrapper h2 {
  margin: 0 0 47px 2px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: 1.7px;

  @include vp-1199 {
    margin: 0 0 31px;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 1.3px;
    text-align: center;
  }

  @include vp-767 {
    margin: 0 0 42px;
    font-size: 32px;
    line-height: 38.4px;
    letter-spacing: 1px;
    text-align: center;
  }
}

.coaches__wrapper ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.coaches__swiper {
  @include vp-1199 {
    margin: 0 56px;
  }

  @include vp-767 {
    margin: 0 32px;
  }
}

.coaches__item {
  position: relative;
  color: $color-default-white;
  background-color: #1c3374;
  overflow: hidden;
  aspect-ratio: 260/294;

  @include vp-1199 {
    min-width: 268px;
    min-height: 294px;
    aspect-ratio: 268/294;
  }

  @include vp-767 {
    min-width: 226px;
    min-height: 274px;
    aspect-ratio: 226/274;
  }
}

.coaches__item h3 {
  position: absolute;
  bottom: 23px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0 20px;
  width: 100%;
  max-width: 260px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;

  @include vp-1199 {
    left: 51.5%;
    max-width: 100%;
  }
}

.coaches__item:hover h3,
.coaches__item:focus h3 {
  display: none;
}

.coaches__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

.coaches__item:hover img,
.coaches__item:focus img {
  transform: scale(1.1);
}

.coaches__item:hover .coaches__item-overlay,
.coaches__item:focus .coaches__item-overlay {
  transform: scale(1);
  opacity: 1;
}

.coaches__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 55px 30px;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 38, 84, 0.89);
  overflow-y: auto;
  transform: scale(1.3);
  opacity: 0;
  transition: transform 0.5s ease 0s;

  @include vp-767 {
    padding: 45px 9px;
  }
}

.coaches__item-overlay h4 {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-align: center;

  @include vp-1199 {
    margin: 0 9px 0 0;
  }

  @include vp-767 {
    margin: 0;
  }
}

.coaches__item-overlay p {
  margin: 0 0 33px 0;
  text-align: center;
  color: #ffffff;

  @include vp-1199 {
    margin: 0 7px 33px 0;
  }

  @include vp-767 {
    margin: 0 0 33px 0;
  }
}

.coaches__item-overlay ul {
  font-size: 14px;
  line-height: 21px;
}

.coaches__item-overlay li {
  position: relative;
  margin: 0 0 13px 41px;

  &::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -16px;
    width: 6px;
    height: 6px;
    background-color: $color-default-white;
    border-radius: 50%;
  }
}

.coaches__item-overlay li:last-child {
  margin-bottom: 0;
}

.coaches__button {
  position: absolute;
  top: 54%;
  border: none;
  background: none;

  @include vp-1199 {
    top: 51%;
  }

  @include vp-767 {
    top: 52%;
    padding: 5px;
  }

  &--prev {
    left: -57px;

    @include vp-1199 {
      left: 0;
    }
  }

  &--next {
    right: -55px;

    @include vp-1199 {
      right: 0;
    }
  }

  &::before {
    position: absolute;
    content: "";
    display: block;
    top: -65%;
    left: -40%;
    width: 56px;
    height: 56px;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 50%;

    @include vp-767 {
      top: -15%;
      left: -20%;
      width: 35px;
      height: 35px;
    }
  }

  &:hover,
  &:focus-visible {
    &::before {
      border: 1px solid #102654;
    }
    outline: none;
  }

  &:focus {
    outline: none;
  }

  &:active {
    &::before {
      background-color: #102654;
    }

    .coaches__arrow {
      border-color: #ffffff;
    }
  }

  &:disabled {
    &::before {
      border: none;
    }
  }
}

.coaches__arrow {
  display: inline-flex;
  width: 20px;
  height: 20px;
  cursor: pointer;

  &--prev {
    border-top: 1px solid #102654;
    border-right: 1px solid #102654;
    transform: rotate(-135deg);
  }

  &--next {
    border-top: 1px solid #102654;
    border-right: 1px solid #102654;
    transform: rotate(45deg);
  }

  @include vp-767 {
    width: 15px;
    height: 15px;
  }
}
