.contacts {
  padding: 80px 120px 40px;
  background-color: #ffffff;
  border-top: 1px solid #74819c;

  @include vp-1199 {
    padding: 75px 133px 42px;
  }

  @include vp-767 {
    padding: 70px 15px 40px;
  }
}

.contacts__wrapper {
  max-width: 683px;
  margin: 0 auto 0 0;

  @include vp-1199 {
    margin: 0 auto;
  }
}

.contacts h3 {
  margin: 0 0 55px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;

  @include vp-1199 {
    margin: 0 0 45px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    margin: 0 0 40px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  @include vp-1199 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.contacts__item {
  margin: 0;
  justify-self: start;
}

.contacts__item:nth-child(2n) {
  position: relative;
  padding-left: 60px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 1px;
    height: 85%;
    background-color: #74819c;

    @include vp-1199 {
      display: none;
    }
  }

  @include vp-1199 {
    padding-left: 48px;
  }

  @include vp-767 {
    padding: 0;
  }
}

.contacts__item dt {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  @include vp-1199 {
    font-size: 20px;
    line-height: 30px;
  }
}

.contacts__item dd {
  margin: 0 0 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.3px;

  @include vp-1199 {
    margin: 5px 0 20px;
    font-size: 18px;
    line-height: 27.4px;
  }

  @include vp-767 {
    margin: 7px 0 18px;
  }
}
