.contacts {
  padding: 56px 120px 70px;
  background-color: #ffffff;

  @include vp-1199 {
    padding: 70px 133px;
  }

  @include vp-767 {
    padding: 70px 15px;
  }
}

.contacts__wrapper {
  max-width: 683px;
  margin: 0 auto 0 0;

  @include vp-1199 {
    margin: 0 auto;
  }
}

.contacts h3 {
  margin: 0;
  margin-bottom: 43px;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
}

.contacts__content {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.contacts__item {
  margin: 0;
}

.contacts__item dt {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.contacts__item dd {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21.3px;
}
