.event {
  display: grid;
  grid-template-columns: 500px 1fr;
  align-items: center;

  @include vp-1199 {
    grid-template-columns: 292px 386px;
    justify-content: center;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.event__content {
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 30px 50px;
  align-self: start;
  padding: 85px 78px 87px;
  color: $color-default-white;
  background-color: #ed0233;

  @include vp-1199 {
    grid-template-columns: 117px 1fr;
    gap: 15px 30px;
    padding: 45px 44px 50px;
  }
}

.event__content h2 {
  margin: 0;
  font-weight: 600;
  font-size: 82px;
  line-height: 0.96;
  font-family: $ff-alumni-sans;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @include vp-1199 {
    font-size: 48px;
  }
}

.event__datetime {
  margin: 0;
}

.event__description {
  grid-column: 1 / -1;
  margin-bottom: 39px;
  font-size: 18px;

  @include vp-1199 {
    margin-bottom: 29px;
    font-size: 12px;
  }

  p {
    margin: 0;
  }
}

.event__btn {
  grid-column: 1 / -1;
  outline: 2px solid;
  padding-top: 25px;
  padding-bottom: 24px;

  @include vp-1199 {
    padding-top: 12px;
    padding-bottom: 13px;
    font-size: 10px;
    line-height: 12px;

    &:not(:focus-visible) {
      outline: none;
    }
  }
}

.event__picture {
  margin: 0;

  img {
    object-fit: cover;

    @include vp-424 {
      min-height: 292px;
    }
  }
}
