.form-control__btn {
  width: 410px;
  padding: 18px 0;
  margin: 0 auto;
  background-color: transparent;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;

  @include vp-1199 {
    width: 472px;
    padding: 21px 0;
  }

  @include vp-767 {
    padding: 18px 0;
    max-width: 100%;
    width: 100%;
  }
}
