.input-text {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  border: 0;
}

.input-text__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  max-width: 410px;
  padding: 0;
  list-style-type: none;

  @include vp-1199 {
    gap: 60px;
    max-width: 472px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.input-text__input {
  display: block;
  width: 100%;
  padding: 10px 0;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid rgb(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;

  @include vp-1199 {
    padding: 8px 0;
  }

  &::-webkit-input-placeholder { /* WebKit browsers */
    color: #ffffff;
  }

  &:hover {
    border-bottom: 1px solid #ffffff;
  }

  &:active,
  &:focus {
    outline: none;
    padding: 10px 15px;
    margin: 0 -15px 0 0;
    border: 1px solid #ffffff;

    &::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
    }
  }
}
