.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px 41px;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    column-gap: 30px;
  }

  @include vp-767 {
    display: block;
  }
}

.nav li {
  position: relative;
}

.nav__link {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;

  @include vp-767 {
    position: relative;
    font-size: 16px;
    line-height: 19px;
  }

  &:hover {
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: #ffffff;
    }
  }

  &:focus-visible {
    border: 1px solid #ffffff;
    padding: 5px 10px;
    margin: -6px -11px;

    &::before {
      display: none;
    }
  }

  &:focus {
    outline: none;

    &::before {
      outline: none;
    }
  }

  &:active {
    padding: 5px 10px;
    margin: -5px -10px;
    color: #ffffff;
    border: none;
  }

  &:disabled {
    padding: 0;
    color: rgb(255, 255, 255, 0.4);
    border: none;
  }
}
