.reviews__wrapper {
  position: relative;
  margin: 0 auto;
  padding: 120px 0;
  max-width: 680px;

  @include vp-1199 {
    padding: 90px 0 100px;
  }

  @include vp-767 {
    padding: 62px 32px 70px;
  }
}

.reviews__wrapper h2 {
  margin: 0 0 37px 8px;
  font-family: $ff-alumni-sans;
  font-weight: 600;
  font-size: 54px;
  line-height: 64.8px;
  letter-spacing: 1.7px;
  text-align: center;

  @include vp-1199 {
    margin: 0 0 39px -5px;
    font-size: 42px;
    line-height: 50.4px;
    letter-spacing: 1.5px;
  }

  @include vp-767 {
    margin: 0 0 43px -3px;
    font-size: 32px;
    line-height: 38.5px;
    letter-spacing: 1.1px;
  }
}

.reviews__swiper {
  max-width: 560px;

  @include vp-1199 {
    max-width: 566px;
  }
}

.reviews__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reviews__item {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 23px auto;
  gap: 10px 28px;
  margin: 0 auto;
  padding: 62px 62px 57px 62px;
  max-width: 560px;
  height: auto;
  min-height: 242px;
  background-color: #1c3374;
  color: $color-default-white;

  @include vp-1199 {
    max-width: 566px;
    padding: 62px 65px 55px 65px;
  }

  @include vp-767 {
    grid-template-rows: 68px auto;
    gap: 14px 15px;
    padding: 40px 25px 33px 25px;
  }
}

.reviews__image-wrapper {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $color-default-white;

  @include vp-767 {
    grid-row: 1/2;
    margin: 0 0 0 16px;
    width: 68px;
    height: 68px;
  }
}

.reviews__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.reviews__wrapper cite {
  display: block;
  margin: -7px 0 0 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-style: normal;

  @include vp-767 {
    margin: 9px 0 0 0;
    line-height: 25.7px;
  }
}

.reviews__wrapper blockquote {
  margin: 0;
  padding: 0;
  line-height: 22.5px;

  @include vp-1199 {
    line-height: 23px;
  }

  @include vp-767 {
    grid-column: 1/3;
    line-height: 22.5px;
    text-align: center;
  }
}

.reviews__button {
  position: absolute;
  top: 55.5%;
  width: 17px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;

  @include hover {
    opacity: 50%;
  }

  &:disabled {
    cursor: not-allowed;
  }

  @include vp-1199 {
    top: 54%;
  }

  @include vp-767 {
    width: 11px;
    height: 19px;
  }

  &--prev {
    left: 3px;
    background-image: url("./../img/svg/button-prev.svg");

    @include vp-1199 {
      left: -1px;
    }

    @include vp-767 {
      background-image: url("./../img/svg/button-prev-mobile.svg");
    }
  }

  &--next {
    right: 4px;
    background-image: url("./../img/svg/button-next.svg");

    @include vp-1199 {
      right: 0;
    }

    @include vp-767 {
      right: -1px;
      background-image: url("./../img/svg/button-next-mobile.svg");
    }
  }
}
