.socials {
  padding: 0;
  list-style-type: none;
  text-transform: uppercase;
  display: grid;
  gap: 11px;
  grid-template-columns: 25px 25px 25px;
}

.socials__link {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  &:hover,
  &:focus-visible {
    background-color: #103aae;
    outline: none;

    svg {
      color: #ffffff;
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    background-color: #102654;

    svg {
      color: #ffffff;
    }
  }

  &:disabled {
    background-color: rgb(255, 255, 255, 0.3);

    svg {
      color: #000000;
    }
  }
}
