.tabs {
  position: relative;
  background: #f8f9fc;
}

.tabs h2 {
  padding-top: 120px;
  margin: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  line-height: 65px;
  text-align: center;

  @include vp-1199 {
    padding-top: 90px;
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    padding-top: 50px;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.tabs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 36px 0;
  padding-bottom: 120px;
  margin: 0 auto;
  max-width: 1160px;

  @include vp-1199 {
    gap: 0;
    padding-bottom: 100px;
  }

  @include vp-767 {
    padding-bottom: 70px;
  }
}

.tabs__controls {
  align-self: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 46px;
  margin: 0;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    gap: 0 55px;
    margin-bottom: 45px;
  }

  @include vp-767 {
    gap: 0 45px;
    margin-bottom: 35px;
  }
}

.tabs__controls button {
  position: relative;
  display: inline-block;
  padding: 16px 0;
  border: 0;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;

  @include vp-1199 {
    padding: 13px 0;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 8px 0 14px;
    font-size: 16px;
    line-height: 24px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d10a42;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover,
  &:focus-visible {
    color: #102654;
    outline: none;

    &::before {
      transform: scale(1);
    }
  }

  &:focus {
    outline: none;
  }

  &:active {
    color: #102654;

    &::before {
      transform: scale(1);
    }
  }

  &:disabled {
    color: rgba(16, 38, 84, 0.2);
    cursor: default;

    &::after {
      width: 0;
    }

    &::before {
      width: 0;
    }
  }
}

.tabs__controls button.is-active {
  color: #102654;

  &::before {
    transform: scale(1);
  }
}

.tabs__image img {
  position: absolute;
  bottom: -160px;
  right: -183px;

  @include vp-1199 {
    bottom: -130px;
    right: -80px;
    width: 423px;
    height: 444px;
  }

  @include vp-767 {
    display: none;
  }
}
