.tabs {
  position: relative;
  background: #f8f9fc;
}

.tabs__wrapper {
  margin: 0 auto;
  max-width: 1160px;
  padding: 120px 0;

  @include vp-1199 {
    padding: 95px 0 100px;
  }
}

.tabs__wrapper h2 {
  margin: 0;
  font-family: $ff-alumni-sans;
  font-size: 54px;
  font-weight: 600;
  letter-spacing: 1.62px;
  line-height: 65px;
  text-align: center;

  @include vp-1199 {
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @include vp-767 {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.tabs__controls {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto 39px auto;
  width: max-content;

  @include vp-1199 {
    margin-bottom: 45px;
  }

  @include vp-767 {
    margin-bottom: 35px;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    width: calc(100% - 40px);
    height: 2px;
    background-color: rgba(120, 120, 120, 0.2);
  }
}

.tabs__controls button {
  position: relative;
  display: inline-block;
  padding: 16px 24px;
  border: 0;
  color: rgba(16, 38, 84, 0.5);
  background-color: transparent;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  cursor: pointer;

  @include vp-1199 {
    padding: 12px 28px;
    font-size: 18px;
    line-height: 27px;
  }

  @include vp-767 {
    padding: 20px 0;
    font-size: 16px;
    line-height: 24px;
  }

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 70%;
    height: 2px;
    background-color: #d10a42;
    transform: scale(0);
    transform-origin: center;

    @include vp-1199 {
      width: 60%;
    }
  }
}

.tabs__controls button.is-active {
  color: #102654;

  &::before {
    transform: scale(1);
  }
}

.tabs__image img {
  position: absolute;
  bottom: -160px;
  right: -183px;

  @include vp-1199 {
    bottom: -130px;
    right: -80px;
    width: 423px;
    height: 444px;
  }

  @include vp-767 {
    display: none;
  }
}
