.video button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 72px;
  height: 72px;
  border: none;
  border-radius: 50%;
  background: linear-gradient(83deg, #003d85 0%, #b80027 88.54%);
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 39%;
    left: 45%;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-left: 16px solid #ffffff;
    border-bottom: 8px solid transparent;
  }

  &::after {
    content: "";
    position: absolute;
    transform: translate(-14%, -14%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    inset: 0;
    background: linear-gradient(97.05deg, rgba(237, 2, 51, 0.2) 17.6%, rgba(0, 62, 183, 0.2) 95.31%);
    border: 2px solid transparent;
    mask: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(#ffffff 0 0);
    mask-composite: exclude;
  }

  @include vp-1199 {
    width: 52px;
    height: 52px;

    &::before {
      top: 37%;
      left: 42%;
      width: 12px;
      height: 12px;
      background-image: url("./../img/svg/triangle-tablet.svg");
    }

    &::after {
      width: 73px;
      height: 73px;
    }
  }

  @include vp-767 {
    &::before {
      left: 46%;
    }
  }

  &:hover,
  &:focus {
    background: #ffffff;

    &::before {
      border-top: 8px solid transparent;
      border-left: 16px solid #000000;
      border-bottom: 8px solid transparent;
    }

    &::after {
      background: #000000;
    }
  }

  &:active {
    background: #ffffff;

    &::before {
      border-top: 8px solid transparent;
      border-left: 16px solid #000000;
      border-bottom: 8px solid transparent;
    }

    &::after {
      background: #000000;
    }
  }

  &:disabled {
    background: #ffffff;

    &::before {
      border-top: 8px solid transparent;
      border-left: 16px solid rgb(0, 0, 0, 0.4);
      border-bottom: 8px solid transparent;
    }

    &::after {
      background: rgb(0, 0, 0, 0.4);
    }
  }
}
